<ul class="list-group">
	<% @problems.each do |problem| %>
		<li class="list-group-item">
			<%= link_to toggle_focus_path(problem),
				class: "btn btn-primary btn-xs",
				role: "button",
				method: "post" do %>
				<% if problem.focused %>
					<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				<% else %>
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
				<% end %>
			<% end %>
			<%= link_to "Solve", solve_problem_path(problem),
				class: "btn btn-primary btn-xs",
				role: "button",
				method: "post" %>
			<button class="btn btn-primary btn-xs"
					data-toggle="collapse"
					data-target="#problem-<%= problem.id %>">
				Hypotheses
			</button>
			<%= problem.description %>
		</li>
		<div id="problem-<%= problem.id %>" class="collapse">
			<% problem.hypotheses.each do |hypothesis| %>
				<li class="list-group-item list-group-item-info">
					<%= hypothesis.description %>
				</li>
			<% end %>
			<li class="list-group-item list-group-item-info">
				<%= form_for problem.hypotheses.new do |f| %>
					<%= f.text_field :description, placeholder: "What's your hypothesis?", class: "description" %>
					<%= f.hidden_field :problem_id, value: problem.id %>
					<%= f.submit "Save" %>
				<% end %>
			</li>
		</div>
	<% end %>
</ul>
