<%= form_for @new_problem do |f| %>
  <%= f.text_field :description, placeholder: "Describe your problem" %> <br />
  <%= f.submit "Save" %>
<% end %>

<hr />

<ul class="list-group">
  <% @problems.each do |problem| %>
    <li class="list-group-item">
      <%= link_to "Solve", solve_problem_path(problem),
      class: "btn btn-primary btn-xs",
        role: "button",
        method: "post" %>
      <%= problem.description %>
    </li>
  <% end %>
</ul>
